body{
    font-family: 'Roboto', sans-serif;
}

.input-group-addon{
    width: 30px;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 3px 0 0 3px;
}

#results{
    position: relative;
    display: block;
}

#response{
    display: inline;
}

#save{
    width: 45%;
}

#clear-saved{
    width: 45%;
    float: right;
    position: relative;
    bottom: 47px;
}
